/**
 * chemadvisor.io api
 * REST api to access ChemADVISOR maintained substance and regulatory data.
 *
 * OpenAPI spec version: 0.9.6 beta
 * Contact: support@chemadvisor.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package chemadvisor.chemApi.client;

import chemadvisor.chemApi.ApiCallback;
import chemadvisor.chemApi.ApiClient;
import chemadvisor.chemApi.ApiException;
import chemadvisor.chemApi.ApiResponse;
import chemadvisor.chemApi.Configuration;
import chemadvisor.chemApi.Pair;
import chemadvisor.chemApi.ProgressRequestBody;
import chemadvisor.chemApi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import chemadvisor.chemApi.model.ApiResponseMessage;
import chemadvisor.chemApi.model.RelatedSubstances;
import chemadvisor.chemApi.model.Substance;
import chemadvisor.chemApi.model.Identifiers;
import chemadvisor.chemApi.model.Inventories;
import chemadvisor.chemApi.model.RegulatoryLists;
import chemadvisor.chemApi.model.SubstanceNames;
import chemadvisor.chemApi.model.Substances;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SubstancesApi {
    private ApiClient apiClient;

    public SubstancesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SubstancesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for getRelatedSubstances */
    private com.squareup.okhttp.Call getRelatedSubstancesCall(String substanceId, String appKey, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'substanceId' is set
        if (substanceId == null) {
            throw new ApiException("Missing the required parameter 'substanceId' when calling getRelatedSubstances(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/substances/{substance_id}/related_substances".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "substance_id" + "\\}", apiClient.escapeString(substanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (appKey != null)
        localVarHeaderParams.put("app_key", apiClient.parameterToString(appKey));
        if (appId != null)
        localVarHeaderParams.put("app_id", apiClient.parameterToString(appId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Links to related substances
     * Returns a collection of links to related substances
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return RelatedSubstances
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RelatedSubstances getRelatedSubstances(String substanceId, String appKey, String appId) throws ApiException {
        ApiResponse<RelatedSubstances> resp = getRelatedSubstancesWithHttpInfo(substanceId, appKey, appId);
        return resp.getData();
    }

    /**
     * Links to related substances
     * Returns a collection of links to related substances
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return ApiResponse&lt;RelatedSubstances&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RelatedSubstances> getRelatedSubstancesWithHttpInfo(String substanceId, String appKey, String appId) throws ApiException {
        com.squareup.okhttp.Call call = getRelatedSubstancesCall(substanceId, appKey, appId, null, null);
        Type localVarReturnType = new TypeToken<RelatedSubstances>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Links to related substances (asynchronously)
     * Returns a collection of links to related substances
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getRelatedSubstancesAsync(String substanceId, String appKey, String appId, final ApiCallback<RelatedSubstances> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getRelatedSubstancesCall(substanceId, appKey, appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RelatedSubstances>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getSubstance */
    private com.squareup.okhttp.Call getSubstanceCall(String substanceId, String appKey, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'substanceId' is set
        if (substanceId == null) {
            throw new ApiException("Missing the required parameter 'substanceId' when calling getSubstance(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/substances/{substance_id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "substance_id" + "\\}", apiClient.escapeString(substanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (appKey != null)
        localVarHeaderParams.put("app_key", apiClient.parameterToString(appKey));
        if (appId != null)
        localVarHeaderParams.put("app_id", apiClient.parameterToString(appId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Find substance by ID
     * Returns a single substance
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return Substance
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Substance getSubstance(String substanceId, String appKey, String appId) throws ApiException {
        ApiResponse<Substance> resp = getSubstanceWithHttpInfo(substanceId, appKey, appId);
        return resp.getData();
    }

    /**
     * Find substance by ID
     * Returns a single substance
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return ApiResponse&lt;Substance&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Substance> getSubstanceWithHttpInfo(String substanceId, String appKey, String appId) throws ApiException {
        com.squareup.okhttp.Call call = getSubstanceCall(substanceId, appKey, appId, null, null);
        Type localVarReturnType = new TypeToken<Substance>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Find substance by ID (asynchronously)
     * Returns a single substance
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSubstanceAsync(String substanceId, String appKey, String appId, final ApiCallback<Substance> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSubstanceCall(substanceId, appKey, appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Substance>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getSubstanceIdentifiers */
    private com.squareup.okhttp.Call getSubstanceIdentifiersCall(String substanceId, String appKey, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'substanceId' is set
        if (substanceId == null) {
            throw new ApiException("Missing the required parameter 'substanceId' when calling getSubstanceIdentifiers(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/substances/{substance_id}/identifiers".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "substance_id" + "\\}", apiClient.escapeString(substanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (appKey != null)
        localVarHeaderParams.put("app_key", apiClient.parameterToString(appKey));
        if (appId != null)
        localVarHeaderParams.put("app_id", apiClient.parameterToString(appId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * A substance&#39;s public identifiers
     * Returns a collection of public identifiers for a substance.
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return Identifiers
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Identifiers getSubstanceIdentifiers(String substanceId, String appKey, String appId) throws ApiException {
        ApiResponse<Identifiers> resp = getSubstanceIdentifiersWithHttpInfo(substanceId, appKey, appId);
        return resp.getData();
    }

    /**
     * A substance&#39;s public identifiers
     * Returns a collection of public identifiers for a substance.
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return ApiResponse&lt;Identifiers&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Identifiers> getSubstanceIdentifiersWithHttpInfo(String substanceId, String appKey, String appId) throws ApiException {
        com.squareup.okhttp.Call call = getSubstanceIdentifiersCall(substanceId, appKey, appId, null, null);
        Type localVarReturnType = new TypeToken<Identifiers>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * A substance&#39;s public identifiers (asynchronously)
     * Returns a collection of public identifiers for a substance.
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSubstanceIdentifiersAsync(String substanceId, String appKey, String appId, final ApiCallback<Identifiers> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSubstanceIdentifiersCall(substanceId, appKey, appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Identifiers>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getSubstanceInventoryHits */
    private com.squareup.okhttp.Call getSubstanceInventoryHitsCall(String substanceId, String appKey, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'substanceId' is set
        if (substanceId == null) {
            throw new ApiException("Missing the required parameter 'substanceId' when calling getSubstanceInventoryHits(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/substances/{substance_id}/inventories".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "substance_id" + "\\}", apiClient.escapeString(substanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (appKey != null)
        localVarHeaderParams.put("app_key", apiClient.parameterToString(appKey));
        if (appId != null)
        localVarHeaderParams.put("app_id", apiClient.parameterToString(appId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * A substance&#39;s inventory status
     * Returns a collection of inventory objects for a substance
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return Inventories
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Inventories getSubstanceInventoryHits(String substanceId, String appKey, String appId) throws ApiException {
        ApiResponse<Inventories> resp = getSubstanceInventoryHitsWithHttpInfo(substanceId, appKey, appId);
        return resp.getData();
    }

    /**
     * A substance&#39;s inventory status
     * Returns a collection of inventory objects for a substance
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return ApiResponse&lt;Inventories&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Inventories> getSubstanceInventoryHitsWithHttpInfo(String substanceId, String appKey, String appId) throws ApiException {
        com.squareup.okhttp.Call call = getSubstanceInventoryHitsCall(substanceId, appKey, appId, null, null);
        Type localVarReturnType = new TypeToken<Inventories>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * A substance&#39;s inventory status (asynchronously)
     * Returns a collection of inventory objects for a substance
     * @param substanceId Substance id (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSubstanceInventoryHitsAsync(String substanceId, String appKey, String appId, final ApiCallback<Inventories> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSubstanceInventoryHitsCall(substanceId, appKey, appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Inventories>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getSubstanceListHits */
    private com.squareup.okhttp.Call getSubstanceListHitsCall(String substanceId, Integer limit, Integer offset, String q, String appKey, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'substanceId' is set
        if (substanceId == null) {
            throw new ApiException("Missing the required parameter 'substanceId' when calling getSubstanceListHits(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/substances/{substance_id}/regulatory_lists".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "substance_id" + "\\}", apiClient.escapeString(substanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (q != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "q", q));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (appKey != null)
        localVarHeaderParams.put("app_key", apiClient.parameterToString(appKey));
        if (appId != null)
        localVarHeaderParams.put("app_id", apiClient.parameterToString(appId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * LOLI lists containing this substance
     * Returns a paginated collection of list objects for lists contain this substance
     * @param substanceId Substance ID (required)
     * @param limit Number of items to retrieve (optional, default to 10)
     * @param offset Offset of the first item returned (optional, default to 0)
     * @param q Search filter is based on the syntax used for find in mongoDB.  For more information, visit &lt;a href&#x3D;\&quot;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ\&quot; target&#x3D;\&quot;blank\&quot;&gt;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ&lt;/a&gt;. (optional)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return RegulatoryLists
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RegulatoryLists getSubstanceListHits(String substanceId, Integer limit, Integer offset, String q, String appKey, String appId) throws ApiException {
        ApiResponse<RegulatoryLists> resp = getSubstanceListHitsWithHttpInfo(substanceId, limit, offset, q, appKey, appId);
        return resp.getData();
    }

    /**
     * LOLI lists containing this substance
     * Returns a paginated collection of list objects for lists contain this substance
     * @param substanceId Substance ID (required)
     * @param limit Number of items to retrieve (optional, default to 10)
     * @param offset Offset of the first item returned (optional, default to 0)
     * @param q Search filter is based on the syntax used for find in mongoDB.  For more information, visit &lt;a href&#x3D;\&quot;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ\&quot; target&#x3D;\&quot;blank\&quot;&gt;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ&lt;/a&gt;. (optional)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return ApiResponse&lt;RegulatoryLists&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RegulatoryLists> getSubstanceListHitsWithHttpInfo(String substanceId, Integer limit, Integer offset, String q, String appKey, String appId) throws ApiException {
        com.squareup.okhttp.Call call = getSubstanceListHitsCall(substanceId, limit, offset, q, appKey, appId, null, null);
        Type localVarReturnType = new TypeToken<RegulatoryLists>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * LOLI lists containing this substance (asynchronously)
     * Returns a paginated collection of list objects for lists contain this substance
     * @param substanceId Substance ID (required)
     * @param limit Number of items to retrieve (optional, default to 10)
     * @param offset Offset of the first item returned (optional, default to 0)
     * @param q Search filter is based on the syntax used for find in mongoDB.  For more information, visit &lt;a href&#x3D;\&quot;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ\&quot; target&#x3D;\&quot;blank\&quot;&gt;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ&lt;/a&gt;. (optional)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSubstanceListHitsAsync(String substanceId, Integer limit, Integer offset, String q, String appKey, String appId, final ApiCallback<RegulatoryLists> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSubstanceListHitsCall(substanceId, limit, offset, q, appKey, appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RegulatoryLists>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getSubstanceNames */
    private com.squareup.okhttp.Call getSubstanceNamesCall(String substanceId, String appKey, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'substanceId' is set
        if (substanceId == null) {
            throw new ApiException("Missing the required parameter 'substanceId' when calling getSubstanceNames(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/substances/{substance_id}/names".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "substance_id" + "\\}", apiClient.escapeString(substanceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (appKey != null)
        localVarHeaderParams.put("app_key", apiClient.parameterToString(appKey));
        if (appId != null)
        localVarHeaderParams.put("app_id", apiClient.parameterToString(appId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Get a Specific Substance&#39;s names
     * Gets a collection of **name** objects Required path param of &#39;substance_id&#39; 
     * @param substanceId Identifier for the substance (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return SubstanceNames
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SubstanceNames getSubstanceNames(String substanceId, String appKey, String appId) throws ApiException {
        ApiResponse<SubstanceNames> resp = getSubstanceNamesWithHttpInfo(substanceId, appKey, appId);
        return resp.getData();
    }

    /**
     * Get a Specific Substance&#39;s names
     * Gets a collection of **name** objects Required path param of &#39;substance_id&#39; 
     * @param substanceId Identifier for the substance (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return ApiResponse&lt;SubstanceNames&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SubstanceNames> getSubstanceNamesWithHttpInfo(String substanceId, String appKey, String appId) throws ApiException {
        com.squareup.okhttp.Call call = getSubstanceNamesCall(substanceId, appKey, appId, null, null);
        Type localVarReturnType = new TypeToken<SubstanceNames>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a Specific Substance&#39;s names (asynchronously)
     * Gets a collection of **name** objects Required path param of &#39;substance_id&#39; 
     * @param substanceId Identifier for the substance (required)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSubstanceNamesAsync(String substanceId, String appKey, String appId, final ApiCallback<SubstanceNames> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSubstanceNamesCall(substanceId, appKey, appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SubstanceNames>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getSubstances */
    private com.squareup.okhttp.Call getSubstancesCall(Integer limit, Integer offset, String q, String appKey, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/substances".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (q != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "q", q));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (appKey != null)
        localVarHeaderParams.put("app_key", apiClient.parameterToString(appKey));
        if (appId != null)
        localVarHeaderParams.put("app_id", apiClient.parameterToString(appId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * All Substances
     * A paginated collection of substances
     * @param limit Number of items to retrieve (optional, default to 10)
     * @param offset Offset of the first item returned (optional, default to 0)
     * @param q Search filter is based on the syntax used for find in mongoDB.  For more information, visit &lt;a href&#x3D;\&quot;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ\&quot; target&#x3D;\&quot;blank\&quot;&gt;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ&lt;/a&gt;. (optional)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return Substances
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Substances getSubstances(Integer limit, Integer offset, String q, String appKey, String appId) throws ApiException {
        ApiResponse<Substances> resp = getSubstancesWithHttpInfo(limit, offset, q, appKey, appId);
        return resp.getData();
    }

    /**
     * All Substances
     * A paginated collection of substances
     * @param limit Number of items to retrieve (optional, default to 10)
     * @param offset Offset of the first item returned (optional, default to 0)
     * @param q Search filter is based on the syntax used for find in mongoDB.  For more information, visit &lt;a href&#x3D;\&quot;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ\&quot; target&#x3D;\&quot;blank\&quot;&gt;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ&lt;/a&gt;. (optional)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @return ApiResponse&lt;Substances&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Substances> getSubstancesWithHttpInfo(Integer limit, Integer offset, String q, String appKey, String appId) throws ApiException {
        com.squareup.okhttp.Call call = getSubstancesCall(limit, offset, q, appKey, appId, null, null);
        Type localVarReturnType = new TypeToken<Substances>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * All Substances (asynchronously)
     * A paginated collection of substances
     * @param limit Number of items to retrieve (optional, default to 10)
     * @param offset Offset of the first item returned (optional, default to 0)
     * @param q Search filter is based on the syntax used for find in mongoDB.  For more information, visit &lt;a href&#x3D;\&quot;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ\&quot; target&#x3D;\&quot;blank\&quot;&gt;https://developer.chemadvisor.io/docs/integrate/codeExamplesQ&lt;/a&gt;. (optional)
     * @param appKey  (optional)
     * @param appId  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSubstancesAsync(Integer limit, Integer offset, String q, String appKey, String appId, final ApiCallback<Substances> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSubstancesCall(limit, offset, q, appKey, appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Substances>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
